<body>

  
<form action="">
   <b> Name:</b><br>
    <input type="text" name="" required><br>
   <b> Phone:</b><br>
    <input type="text" name="" required><br>
    <b>Address:</b><br>
    <textarea name="message" rows="3" cols="30" ></textarea><br>
    <input type="submit" value="submit">
    <input type="button" value="cancel">
</form>
<a href="#"><i class="fa fa-github" style="font-size:48px;color:red" id=""><br>GiHub</i></a>
<a href="#"><i class="fa fa-bitbucket" style="font-size:48px;color:blue" id=""><br>BitBucket</i></a>
<a href="#"><i class="fa fa-linkedin" style="font-size:48px;color:#FFD700" id=""><br>LinkedIn</i></a>
</body>