<% include header %>

<main>
  <div>
   <article class="article">
   <section>
   <h2 id="cu"> CURRENT </h2>
   <p> <b> I am pursuing my master's in Applied Computer Science at Northwest Missouri State University. I intend to be a full stack developer and looking 
   forward to explore more in Java and Database.</b></p>
   </section>
   
   <section id="past-section"> 
   <h2 class="section-header"> SCHOOL & UNDERGRAD </h2>
   <p> <b>I am from India. As a student i am always instrested in computers. My hobbies are reading books, cooking, dance and writing short stories. I 
   finished my undergrad in computerscience at R.M.K. Engineering College, Chennai. I found my love in Java and Database and wanna explore more and strenghthen
   my skills.</b></p>
  </section>
  <section id="future-section">
  <h2 class="fs"> FUTURE PLANS</h2>
  <p><b>I love <strong>java and database</strong>. i want to be a full stack developer.</b> </p>
  </section>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/TCDIclsb-GY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <h2 class="sh"> SCHEDULE </h2>
  <ol>
  <li><h2> Object Oriented Programming </h2>
  
  </title>   
       <h3> Days : </h3><p><b> Tuesday, Thursday</b> </p>
  <h3>Timings :</h3><p><b> am - 9:15 am </b></p>
  <h3> Professor :</h3><p><b> Ajay, Bandi</b></p></li>
  <li><h2> Advanced Database </h2>
  <h3> Days :</h3><p><b> Monday,Tuesday,Thursday</b></p>
  <h3>Timings :</h3><p><b> 11:00 am - 11:50 am</b></p>
  <h3>professor :</h3><p><b> Douglas, Hawley</b></p></li>
  <li><h2> Web Apps</h2> 
  <h3> Days :</h3><p><b> Monday, Tuesday</b></p>
  <h3>Timings :</h3><p><b> 12:00 pm - 12:50 pm</b></p>
  <h3>Professor :</h3><p><b> Dennis, Case</b></p></li>
  </ol>
  </article>
  </div>
  <aside>
  <h3 class="aside-header">Aside</h3>
  </aside>
  </main>

    <% include footer %>
